{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Prestations{% endblock %}
{% block javascripts %}{{ parent() }} {{ encore_entry_script_tags('clientPricing') }}{% endblock %}

{% block body %}
    <div id="pricing"></div>
{% endblock %}
